<p style="color: green"><%= notice %></p>

<div style="margin: 30px">
  <h1>Subject: <%= @blog.title%></h1>
  <p><%= @blog.body%></p>
</div>

<div>|
  <%= link_to "Back to blogs", blogs_path %>
</div>
