<head>
  <title>About</title>
  <%= stylesheet_link_tag "navbar" %>
</head>
<div class="logo">
 <h1>Logo</h1>
</div>

 <div class="links">
 <a href="<%= root_path %>">Home</a>
  <a href="about">About</a>
  <a href="#">Our Work</a>
  <%= link_to "Blog", blogs_path%>
  <a href="#">Donate</a>
  <%= link_to "Sign in", new_user_session_path%>
 </div>