<div class="home">
  <header class="nav-bar">
   <%= render "navbar"%>
  </header>
  <div class="slider">
   <div>
     <%= image_tag "https://files.globalgiving.org/pfil/14034/pict_large.jpg?m=1368641509000"%>
   </div>
   <div>
     <%= image_tag "https://assets.website-files.com/5f29933071d3e26b9b81edfa/5f677fad7d251ef9c47689a3_prevention%20of%20child%20ab.JPG"%>
   </div>
   <div>
     <%= image_tag "https://www.sos-usa.org/getmedia/90c9727c-71d2-4ed3-998b-e4a1363d4c81/keeping-a-familiy-together.JPG?width=555&height=322&ext=.jpg"%>
   </div>
  </div>
</div>