<head>
  <title>About</title>
  <%= stylesheet_link_tag "about" %>
</head>
<div class="about">
    <div class="header">
      <h1>About Us</h1>
    </div>
  <div class="about-content">
    <div class="cards">
      <div class="first-card">
        <h2 class="first-card-header">The Vision</h2>
        <p class="first-card-text">
        My Child & Me, Inc.
        is a non-profit organization
        committed to stabilizing families by elevating the quality of life of the abandoned mothers with
        children living in the Democratic Republic of the Congo.
        The overall objective of My Child & Me,
        Inc. is to see the families of these abandoned
        mothers stabilized and productive.
        These mothers will recognize they are valued members
        of the society and will take their places as business owners, entrepreneurs,
        and mothers full of integrity and self-esteem. They will become empowered to the point of knowing that they too can be
        change agents and reach out to help someone else.
        </p>
      </div>
     <div class="card-image">
        <%= image_tag "mwabanaimg.png", class: "about-card-image" %>
     </div>
    </div>
  </div>
  <div class="second-card">
    <div class="text-one">
      <p>
        My Child &amp; Me recognizes the devastating impact of war and sexual
        violence on women and children in the Congo.
        Many fathers have abandoned their families resulting in dislocated families,
        physical and psychological trauma, sex crimes against street children,
        child labor and prostitution, poverty, as well as a general denigration
        and deterioration of the family unit.
      </p>
      <p>
        My Child &amp; Me, Inc. is working to provide the means
        for these abandoned mothers with children to regain their
        foothold in the society by empowering the mothers through education,
        training in life skills, and offering them the tools they need to provide for
        themselves and their children. My Child &amp; Me,
        Inc. is working to strengthen the capacity of
        these abandoned mothers to protect and provide for their family
        units by undertaking the following programs:
      </p>
    </div>
    <div class="text-two">
      <ul>
        <li>
          The operation of a Distribution Center to facilitate
          the distribution of food products such as rice, flour,
          and beans to the mothers who will in turn sell them
          for a profit. My Child &amp; Me will then educate
          and train these mothers to manage these profits for
          food, education for their children, and other necessities; and
        </li>
        <li>
        The operation of a Training Facility to provide abandoned mothers with education,
        coaching, and life skills training such as basket
        weaving, sewing, jewelry making, soap making, etc.
        </li>
        <li>
          With the support of churches and other organizations,
          My Child and Me brings together volunteers to rebuild
          and repair the homes of its abandoned mothers with children.
          These mothers work hand-in-hand with volunteers to
          rehabilitate and transform their houses into stable, permanent homes.
        </li>
      </ul>
    </div>
  </div>
  <div class="founder">
    <div class="founder-content">
      <div class="founder-text">
        <h2 class="founder-header">FOUNDER: JOSETTE'S STORY</h2>
       <div class="founder-line"></div>
       <div class="founder-paragraghs-wrapper">
          <p class="founder-paragraph-1">
          Josette Zahinda is the founder of My Child & Me, Inc.,
            a non-profit organization committed to stabilizing families by
            elevating the quality of life of the abandoned mothers with children
            living in the Democratic Republic of Congo
          </p>
          <p class="founder-paragraph-2">
            Josette came to the United States on a
            scholarship to further her education. While in college she met her husband,
            and they began a family. Josette looked forward to married life and to
            accomplishing her dreams. This was not Josette’s reality.
            Her life took a dramatic turn when she found herself in an
            abusive marriage, full of fear and pain.
          </p>
          <p class="founder-paragraph-3">
            After 10 years of marriage, Josette was abandoned and
            homeless with two young children and a baby on the way.
            She was referred to an agency that saved her life and
            the lives of her children. This organization gave Josette
            a home, food, protection and knowledge to break free from
            the cycle of domestic violence. As a result of the support
            Josette received, she now has a stable career;
            her children are successfully pursuing higher education,
            and her family is stronger from the experience.
          </p>
          <p class="founder-paragraph-4">
            During a visit to her homeland of the Democratic Republic of the Congo,
            Josette was struck by the number of abandoned mothers and “street children
            .” Many of these “street children” are the result of years of sexual violence
            against women. The Fathers have abandoned their families due to the stigma
            attached to sexual violence. The Mothers are left to provide for the children
            in any way possible. These mothers have very little means to earn a living or
            to provide food and shelter for their families. As such, their children live
            in poverty and are often recruited into child labor rings and prostitution.
          </p>
          <p class="founder-paragraph-5">
            Josette immediately identified with these abandoned mothers.
            She realized that her life could have been the same had it not
            been for the help she received in America. These mothers desperately
            need help, and this realization stirred the beginning of Josette’s
            passion to help abandoned mothers. Josette’s suffering would not be in vain.
            She would now reach out and help someone,
            just as she had been helped. Out of her personal ashes was born My Child & Me, Inc.
          </p>
        </div>
      </div>
      <div class="founder-image-wrapper">
       <%= image_tag "https://i0.wp.com/mychildandme.org/wp-content/uploads/2017/09/IMG_3650.png?w=360&ssl=1", class: "founder-image" %>
      </div>
    </div>

 </div>
  <div class="third-header">
  <h2 class="third-header-text">BOARD OF DIRECTORS</h2>
  </div>
  <div class="third-card">
   <div class="third-card-img">
     <%= image_tag "https://i0.wp.com/mychildandme.org/wp-content/uploads/2017/09/IMG_3661.png?w=480&ssl=1", class: "third-card-image"%>
    </div>
    <div class="third-card-text">
      <h2 class="third-card-header">President & Founder</h2>
      <div class="third-card-line"></div>
      <div class="third-card-paragraph">
        <p>
          Josette Zahinda is President and founding member of My Child and Me,
          a nonprofit organization dedicated to stabilizing families by elevating
          the quality of life of the abandoned mothers with their children presently in Congo DR. &nbsp;
          For the past 19 years, she has worked in the sales and customer service departments for United Airlines.
        </p>
        <p>
          Josette is a mother of three children. When Josette was pregnant with her third child,
          she found herself with two young children in a women shelter due to domestic violence.
          That experience led her to become a strong advocate for women and children victims of
          domestic violence. &nbsp;Josette presently serves on the Board of Directors for the
          Loudoun Citizen for Social Justice also known as LAWS, an organization that provides
          assistance to victims of domestic violence and sexual assault in Virginia.
          &nbsp;Josette holds a bachelors degree in Christian education and an MBA.
        </p>
      </div>
    </div>
  </div>
</div>
