<div class="ui container">
<div class="about">
    <div class="header text-white text-center">
      <h1 class='p-4 display-4'>About Us</h1>
    </div>
  <div class="">
    <div class="">
      <div class="vision-card">
        <h2 class="first-card-header">The Vision</h2>
        <p class="first-card-text">
        My Child & Me, Inc.
        is a non-profit organization
        committed to stabilizing families by elevating the quality of life of the abandoned mothers with
        children living in the Democratic Republic of the Congo.
        The overall objective of My Child & Me,
        Inc. is to see the families of these abandoned
        mothers stabilized and productive.
        These mothers will recognize they are valued members
        of the society and will take their places as business owners, entrepreneurs,
        and mothers full of integrity and self-esteem. They will become empowered to the point of knowing that they too can be
        change agents and reach out to help someone else.
        </p>
      </div>
    </div>
  </div>
  <div class="">
    <div class="">
      <div class="">
        <p>
          My Child &amp; Me recognizes the devastating impact of war and sexual
          violence on women and children in the Congo.
          Many fathers have abandoned their families resulting in dislocated families,
          physical and psychological trauma, sex crimes against street children,
          child labor and prostitution, poverty, as well as a general denigration
          and deterioration of the family unit.
        </p>
        <p>
          My Child &amp; Me, Inc. is working to provide the means
          for these abandoned mothers with children to regain their
          foothold in the society by empowering the mothers through education,
          training in life skills, and offering them the tools they need to provide for
          themselves and their children. My Child &amp; Me,
          Inc. is working to strengthen the capacity of
          these abandoned mothers to protect and provide for their family
          units by undertaking the following programs:
        </p>
      </div>
      <div class="column">
        <ul>
          <li>
            The operation of a Distribution Center to facilitate
            the distribution of food products such as rice, flour,
            and beans to the mothers who will in turn sell them
            for a profit. My Child &amp; Me will then educate
            and train these mothers to manage these profits for
            food, education for their children, and other necessities; and
          </li>
          <li>
          The operation of a Training Facility to provide abandoned mothers with education,
          coaching, and life skills training such as basket
          weaving, sewing, jewelry making, soap making, etc.
          </li>
          <li>
            With the support of churches and other organizations,
            My Child and Me brings together volunteers to rebuild
            and repair the homes of its abandoned mothers with children.
            These mothers work hand-in-hand with volunteers to
            rehabilitate and transform their houses into stable, permanent homes.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="speach-container">
    <%= image_tag "Ceoabout.png", class: 'josette-speech' %>
  </div>

 </div>
  
</div>
