.dashboard-display {
  display: flex;
  /* justify-content: center; */
}


.admin-home-head {
    border-radius: 13px;
    width: 100%;
    height: 230px;
    background: url("mamajeanne.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}

.admin-home-head h1 {
    color: #007bff;
    text-shadow: 3px 5px 2px rgba(0,0,0,0.5);
}

.yield {
  width: 100%;
  padding: 20px;
}



.btn-delete {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(202, 37, 37);
}

.show-btn {
    display: flex;
    gap: 10px;
}

.status-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    height: 75vh;
    overflow-x: scroll;
}

/* Form wrapper */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  /* Input fields */
  .input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    max-width: 40rem;
  }
  
  .input-field label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .input-field input,
  .input-field textarea {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
  }
  
  /* Error messages */
  .errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffdddd;
    padding: 1rem;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
    max-width: 40rem;
  }
  
  .errors h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .errors ul {
    margin-left: 1.5rem;
  }
  
  .errors li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  /* Submit button */
  .form-actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .form-actions input[type="submit"] {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .form-actions input[type="submit"]:hover {
    background-color: #0069d9;
  }
  

  .testimonies-container {
    text-align: center;
    padding: 20px;
  }
  
  .testimonies-header {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .add-testimony-link {
    display: block;
    margin-bottom: 20px;
    color: #4a4a4a;
    font-size: 18px;
    font-weight: bold;
  }
  
  .testimonies-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .testimony {
    margin: 20px;
    text-align: left;
    width: 100%;
  }
  
  .testimony-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
  }
  
  .testimony-title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .testimony-body {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    width: 100%;
  }
  