.admin-home-head {
    border-radius: 13px;
    width: 100%;
    height: 230px;
    background: url("mamajeanne.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}

.admin-home-head h1 {
    color: rgb(85, 78, 78);
}

.yield {
  flex: 1;
  padding: 20px;
  height: 120vh;
  overflow-x: scroll;
}



.btn-delete {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(202, 37, 37);
}

.show-btn {
    display: flex;
    gap: 10px;
}

.status-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}