.nav-wrapper {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

.nav-wrapper a{
  font-family: 'Josefin Slab', serif;
}

.company-logo{
  width: 120px;
}