<div id="<%= dom_id blog %>">
  <div style="boder: 1px solid black; padding: 10px; border-radius: 10px; margin: 30px">
    <h1>Blog</h1>
    <h3><%= blog.title %></h3>
    <p><%= blog.blog %></p>
  </div>
</div>
